In [2]:
import seaborn as sns

In [5]:
df=sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
df1=df.iloc[::-1]
df1

     sepal_length  sepal_width  petal_length  petal_width    species
149           5.9          3.0           5.1          1.8  virginica
148           6.2          3.4           5.4          2.3  virginica
147           6.5          3.0           5.2          2.0  virginica
146           6.3          2.5           5.0          1.9  virginica
145           6.7          3.0           5.2          2.3  virginica
..            ...          ...           ...          ...        ...
4             5.0          3.6           1.4          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
0             5.1          3.5           1.4          0.2     setosa

[150 rows x 5 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
from scipy import stats

In [10]:
stats.iqr(df1.sepal_width)

0.5

In [11]:
Iqr_sepal_with=stats.iqr(df1.sepal_width)

In [12]:
import numpy as np

In [14]:
q1_sepal_width=np.percentile(df.sepal_width,25)
q3_sepal_width=np.percentile(df.sepal_width,75)

In [16]:
lb_sepal_width= q1_sepal_width - 1.5* Iqr_sepal_with

In [19]:
ub_sepal_width= q3_sepal_width - 1.5* Iqr_sepal_with

In [22]:
df1.loc[(df1.sepal_width>lb_sepal_width)&(df1.sepal_width>ub_sepal_width)]

     sepal_length  sepal_width  petal_length  petal_width    species
149           5.9          3.0           5.1          1.8  virginica
148           6.2          3.4           5.4          2.3  virginica
147           6.5          3.0           5.2          2.0  virginica
145           6.7          3.0           5.2          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
..            ...          ...           ...          ...        ...
4             5.0          3.6           1.4          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
0             5.1          3.5           1.4          0.2     setosa

[131 rows x 5 columns]

In [24]:
df1.loc[df1.sepal_width<lb_sepal_width]

    sepal_length  sepal_width  petal_length  petal_width     species
60           5.0          2.0           3.5          1.0  versicolor

In [25]:
df1.loc[df1.sepal_width<ub_sepal_width]

     sepal_length  sepal_width  petal_length  petal_width     species
146           6.3          2.5           5.0          1.9   virginica
119           6.0          2.2           5.0          1.5   virginica
113           5.7          2.5           5.0          2.0   virginica
108           6.7          2.5           5.8          1.8   virginica
106           4.9          2.5           4.5          1.7   virginica
98            5.1          2.5           3.0          1.1  versicolor
93            5.0          2.3           3.3          1.0  versicolor
89            5.5          2.5           4.0          1.3  versicolor
87            6.3          2.3           4.4          1.3  versicolor
81            5.5          2.4           3.7          1.0  versicolor
80            5.5          2.4           3.8          1.1  versicolor
72            6.3          2.5           4.9          1.5  versicolor
69            5.6          2.5           3.9          1.1  versicolor
68            6.2          2.2           4.5          1.5  versicolor
62            6.0          2.2           4.0          1.0  versicolor
60            5.0          2.0           3.5          1.0  versicolor
57            4.9          2.4           3.3          1.0  versicolor
53            5.5          2.3           4.0          1.3  versicolor
41            4.5          2.3           1.3          0.3      setosa

In [26]:
((150-131)/150)*100

12.666666666666668

In [27]:
df.sepal_width.median()

3.0

In [29]:
df1.loc[df.sepal_width<lb_sepal_width]=3.0

In [30]:
df1.loc[df.sepal_width>ub_sepal_width]=3.0